body {
	overflow: hidden;
}

.App {
	text-align: center;

	.normal-bat {
		cursor: url("./image/normalBat.png"), crosshair;
	}
	.super-bat {
		cursor: url("./image/superBat.png"), crosshair;
	}
}

.demoImage{
	background-image: url('http://localhost:3001/logo192.png');
}
